/* Login Styles */

.logoContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainlogo{
  margin-top: 30px;
  margin-bottom: 20px;
}

.grouplogo, .logo{
  bottom: 0px;
}

.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputField {
  width: 80%;
  border: none;
  border-bottom: 1px solid black;
  height: 25px;
}

.loginButton {
  width: 85%;
  border: none;
  background-color: #C8ECB8;
  height: 34px;
  /* Remove these styles unless necessary */
  /* display: flex;
  justify-content: center; */
}

/* End Login Page Styles */

/* Forgot Password Styles */

/* Borrow Form Styles */
