/* Login Styles */


.logoContainer, .form-container, .fpContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainlogo{
  margin-top: 150px;
  margin-bottom: 50px;
}

.grouplogo, .logo{
  bottom: 2px;
}

.loginButton {
  margin-top: 30px;
  width: 271px;
  border: none;
  background-color: #C8ECB8;
  height: 34px;
  color: #0A4610;
  font-weight: bolder;
  border-radius: 10px;
  /* Remove these styles unless necessary */
  /* display: flex;
  justify-content: center; */
}

.fpContainer{
  margin-top: 10px;
}
.forgotpass{
  text-decoration: none;
  color: black;
}

.labelButtonContainer{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-top: 5px;
}

.removeButton{
  margin-right: 60px;
  background-color: transparent;
  border: none;
}

.removeButtonIcon{
  color: red;
}

.addButtonContainer{
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 20px;
}

.addBButton{
  background-color: #5CBD10;
  border: none;
  border-radius: 8px;
  padding: 5px;
  padding-bottom: 4px;
  color: white;

}

/* End Login Page Styles */

/* Forgot Password Styles */

/* Borrow Form Styles */

.pageBody{

  align-items: center;
  justify-content: center;
  margin: 20px;
  
}

.arrowButton{
  background-color: transparent;
  border: none;
}

.headerContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 20px;
}

.allFormContainer{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;
}

.firstFormContainer{
  background-color: #CEE7C5;
  height: 160px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.qrButton{
  background-color: transparent;
  border: none;
}

label{
  margin-left: 20px;
}

.inputField{
  background-color: white;
  margin-left: 20px;
  width: 85%;
}

.quantityInput{
  width: 20px;
}


@media screen and (max-width: 900px){
  .allFormContainer{
    width: 100%;
  }
}

/* Modal Styles */
.modal{
  background-color: gray;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.qrStyle{
  height: auto;
  width: 100%;
}
/* End of Modal Styles */

/* End of Borrowing Form Styles */

/* Forgot Password Styles */

.forgotPassPageContainer{
  margin: 20px;
}


.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.content {
  text-align: left; /* Align the content inside 'content' to the left */
}

.hText{
  color: #1E1A4D;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

label{
  text-align: left !important;
}


.requestButton{
  width: 309px;
  height: 41px;
  border: none;
  border-radius: 5px;
  background-color: #77C777;
  color: #0A4610;
  font-weight: bolder;
}